[Desktop Entry]
Name=Nextcloud
GenericName=File Synchronizer
Exec="/home/kupi/Downloads/Nextcloud-3.15.2-x86_64.AppImage" --background
Terminal=false
Icon=Nextcloud
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
